<div class="h-screen flex items-center justify-center bg-gray-100">
  <div class="container px-8 py-4 mx-auto max-w-md bg-white shadow-md rounded-md">
    <h1 class="text-3xl font-bold mb-4 text-center text-gray-600">
      Account Details
    </h1>
    <div *ngIf="userDetails$ | async as user" class="grid grid-cols-1 gap-2 text-gray-800">
      <div class="flex items-center justify-between">
        <h2 class="text-gray-600 font-bold">Email:</h2>
        <p>{{ user.email }}</p>
      </div>
      <div class="flex items-center justify-between">
        <h2 class="font-bold">Role:</h2>
        <p>{{ user.role }}</p>
      </div>
      <div class="flex items-center justify-between">
        <h2 class="font-bold">First Name:</h2>
        <p>{{ user.firstname }}</p>
      </div>
      <div class="flex items-center justify-between">
        <h2 class="font-bold">Last Name:</h2>
        <p>{{ user.lastname }}</p>
      </div>
      <div class="flex items-center justify-between">
        <h2 class="font-bold">Phone:</h2>
        <p>{{ user.phone }}</p>
      </div>
    </div>
  </div>
</div>
