<mat-card *ngFor="let village of village$ | async" class="village-card w-1/2 m-2">
  <mat-card-header>
    <mat-card-title>{{ village.name }}</mat-card-title>
    <!--    <div class="flex justify-center mb-4">-->
    <!--      <ng-container *ngIf="userPhotoUrl; else noPhoto">-->
    <!--        <img [src]="userPhotoUrl" alt="{{village?.name}}"-->
    <!--             class="w-40 h-40 object-cover border border-gray-300 rounded-full">-->
    <!--      </ng-container>-->
    <!--      <ng-template #noPhoto>-->
    <!--        <div class="w-40 h-40 bg-gray-200 border border-gray-300 rounded-full"></div>-->
    <!--      </ng-template>-->
    <!--    </div>-->
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-group">
      <p><span class="text-gray-600 font-bold">Description:</span> {{ village.description }}</p>
    </div>
    <div class="card-content-group">
      <p><span class="text-gray-600 font-bold">Address:</span></p>
      <p><span class="text-gray-600 font-bold">Street:</span> {{ village.addressDTO.street }}</p>
      <p><span class="text-gray-600 font-bold">Postal Code:</span> {{ village.addressDTO.postalCode }}</p>
      <p><span class="text-gray-600 font-bold">City:</span> {{ village.addressDTO.city }}</p>
      <p><span class="text-gray-600 font-bold">Voivodeship:</span> {{ village.addressDTO.voivodeship }}</p>
      <p><span class="text-gray-600 font-bold">Country:</span> {{ village.addressDTO.country }}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="w-1/4 border-collapse text-white rounded-md border-slate-200 py-2 px-3 bg-red-600"
            (click)="deleteVillage(village.villageId)">Delete
    </button>
    <button class="w-1/4 border-collapse text-white rounded-md border-slate-200 py-2 px-3 bg-green-600 m-1"
            (click)="openDialog(village)">Update
    </button>
  </mat-card-actions>
</mat-card>
