.mat-card {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.card-content-group {
  flex: 1;
  overflow: auto;
}

.village-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}
