<div class="h-screen flex items-center justify-center">
  <form class="shadow-md rounded-md p-5 bg-white w-1/2 flex flex-wrap" (ngSubmit)="addVillage()">
    <div class="py-4 w-full">
      <h1 class="font-bold next-left py-2">Add</h1>
      <h6 class="text-slate-600 text-base">Create your Village</h6>
    </div>

    <div class="w-1/2 pr-2">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Street</mat-label>
        <input matInput type="text" [formControl]="villageAddressForm.controls.street" placeholder="Enter street name">
        <mat-icon matPrefix>location_on</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Postal Code</mat-label>
        <input matInput type="text" [formControl]="villageAddressForm.controls.postalCode" placeholder="Enter postal code">
        <mat-icon matPrefix>markunread_mailbox</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>City</mat-label>
        <input matInput type="text" [formControl]="villageAddressForm.controls.city" placeholder="Enter city">
        <mat-icon matPrefix>location_city</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Voivodeship</mat-label>
        <mat-select name="voivodeship">
          <mat-option *ngFor="let voivodeship of VOIVODESHIPS" [value]="voivodeship">
            {{voivodeship}}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>location_searching</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Country</mat-label>
        <input matInput type="text" value="Polska">
        <mat-icon matPrefix>public</mat-icon>
      </mat-form-field>
    </div>
    <div class="w-1/2 pr-2">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="villageAddForm.controls.name" placeholder="Enter name">
        <mat-icon matPrefix>label</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full" style="height: 80%">
        <mat-label>Description</mat-label>
        <textarea matInput [formControl]="villageAddForm.controls.description" placeholder="Enter description"></textarea>
      </mat-form-field>
    </div>

    <button class="w-full border-collapse text-white rounded-md border-slate-200 disabled:bg-purple-400 py-2 px-3
      bg-purple-700" type="submit">
      Add
    </button>

  </form>
</div>

