<div class="h-auto flex items-center justify-center">
  <form class="shadow-md rounded-md p-5 bg-white w-full max-w-2xl flex flex-wrap">
    <div class="py-4 w-full">
      <h1 class="font-bold next-left py-2">Update</h1>
      <h6 class="text-slate-600 text-base">Update your Village</h6>
    </div>

    <div class="w-1/2 pr-2">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
      <input type="file" formControlName="image">
    </div>

    <button class="w-full border-collapse text-white rounded-md border-slate-200 disabled:bg-purple-400 py-2 px-3
      bg-purple-700" type="submit">
      Update
    </button>

  </form>
</div>
